.footer {
    bottom: 0;
    left: 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    height: 32px;
    padding: 0 8px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .link {
        display: inline-block;
        margin-right: 5px;
        min-width: 25px;
        white-space: nowrap;
        word-break: normal;

        a {
            padding: 4px;
        }

        a:link {
            text-decoration: none;
            color: #878A8C;
        }

        a:hover {
            background: rgba(26,26,27,0.1);
        }

        .link-text {
            display: inline-block;
            line-height: 1;
            text-transform: capitalize;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}
