.input-group {
    margin-left: 10%;
    width: 80%;

    input:hover, input:focus {
        background-color: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(234, 0, 39);
        border-image: initial;
        box-shadow: none;
    }

    .dropdown {
        .dropdown-item {
            svg {
                margin-right: 5px;
            }
        }
    }
}
