.upvotes-container {
    width: 40px;
    border-left: 4px solid transparent;
    align-items: center;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;

    .upvotes {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        fill: inherit;
        flex-direction: column;
    
        svg {
            height: 18px;
            vertical-align: middle;
            padding-bottom: 2px;
        }

        .up {
            display: inline-block;
            overflow: hidden;
            height: 24px;
            width: 24px;
            font-size: 16px;
            line-height: 24px;
        }

        .upvoted {
            color: rgb(204, 55, 0) !important;
        }
        
        .up:hover {
            color: rgb(204, 55, 0);
            background-color: rgba(26, 26, 27, 0.1);
            outline: none;
        }

        .down {
            display: inline-block;
            overflow: hidden;
            height: 24px;
            width: 24px;
            font-size: 16px;
            line-height: 24px;
    
            svg {
                vertical-align: middle;
            }
        }

        .downvoted {
            color: rgb(90, 117, 204) !important;
        }

        .down:hover {
            color: rgb(90, 117, 204);
            background-color: rgba(26, 26, 27, 0.1);
            outline: none;
        }
    
        .score {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            pointer-events: none;
            word-break: normal;
            color: rgb(26, 26, 27);
            margin: 0 auto;
        }
    }
}

