.upvotes-container {
    width: 40px;
    float: left;
    align-items: center;

    .upvotes {
        // float: left;
        display: inline-block;
    
        svg {
            height: 18px;
        }
        
        .up:hover {
            color: rgb(204, 55, 0);
            background-color: rgba(26, 26, 27, 0.1);
            outline: none;
        }

        .down {
            display: inline-block;
    
            svg {
                vertical-align: top;
            }
        }

        .down:hover {
            color: rgb(90, 117, 204);
            background-color: rgba(26, 26, 27, 0.1);
            outline: none;
        }
    
        .score {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            pointer-events: none;
            word-break: normal;
            color: rgb(26, 26, 27);
            margin: 0 auto;
        }
    }
}

